@media screen and (max-width: 1399px) {
    .intro {
        flex-direction: column-reverse;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }
}

@media screen and (min-height: 500px) {
    .home {
        /* padding: 130px 0; */
    }
}